
@{
    ViewBag.Title = "WeatherByIP";
}

<h2>WeatherByIP</h2>
City:<p id="name"></p>
Temperature: &deg;F<p id="temp"></p>
Humidity:<p id="humidity"></p>
Wind:<p id="wind"></p>
<button>Search</button>

<script>

var ip = '192.168.0.1'
$.get('https://ipapi.co/' + ip + '/latlong/', function (response) {
    var latlong = response.split(',');
    console.log(latlong);
    $.get('http://api.openweathermap.org/data/2.5/weather?lat=' + latlong[0] + '&lon=' + latlong[1] + '&appid=API_KEY', function (weatherresponse) {
        console.log(weather);
    });
});
   </script>