@{
    ViewBag.Title = "WeatherJS";
}
<h2>Weather</h2>
<strong> City:</strong><input id="txtCity" type="text" />
<br />
<br />
City:<p id="name"></p>
Temperature: &deg;F<p id="temp"></p>
Humidity:<p id="humidity"></p>
Wind:<p id="wind"></p>
<button>Search</button>

<script>
    $(document).ready(function () {
        $("button").click(function () {
            //var cityname = $("#txtCity").val();

        $.get("http://api.openweathermap.org/data/2.5/weather?q=Kandy&APPID=fad7de74a958f53fa6b85a3632c426af&units=imperial",function(response){
            //$.get(url, function (respone) {
                console.log(response);
                $("#name").text(response.name);
                $("#temp").text(response.main.temp);
                $("#humidity").text(response.main.humidity);
                $("#wind").text(response.wind.speed);

            });
        });
    });
</script>